server {
    listen 80 default_server;
    server_name _;

    large_client_header_buffers 4 32k;
    client_max_body_size 50M;
    charset utf-8;

    access_log {{ taiga_front_log_dir }}/nginx.access.log;
    error_log {{ taiga_front_log_dir }}/nginx.error.log;

    # Frontend
    location / {
        root {{ taiga_front_checkout_dir }}/dist/;
        try_files $uri $uri/ /index.html;
    }

    # Backend
    location /api {
        proxy_set_header Host $http_host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Scheme $scheme;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
{% if 'taiga-back' in group_names %}
        proxy_pass http://127.0.0.1:{{ taiga_backend_port }}/api;
{% else %}
        proxy_pass http://{{ taiga_front_backend_hostname }}:{{ taiga_backend_port }}/api;
{% endif %}
        proxy_redirect off;
    }

{% if taiga_front_enable_django_admin %}
    # Django admin access (/admin/)
    location /admin {
        proxy_set_header Host $http_host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Scheme $scheme;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
{% if 'taiga-back' in group_names %}
        proxy_pass http://127.0.0.1:{{ taiga_backend_port }}$request_uri;
{% else %}
        proxy_pass http://{{ taiga_front_backend_hostname }}:{{ taiga_backend_port }}$request_uri;
{% endif %}
        proxy_redirect off;
    }
{% endif %}

    # Static files
    location /static {
{% if 'taiga-back' in group_names %}
        alias /home/taiga/taiga-back/static;
{% else %}
        proxy_set_header Host $http_host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Scheme $scheme;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_pass http://{{ taiga_front_backend_hostname }}:{{ taiga_backend_port }}$request_uri;
        proxy_redirect off;
{% endif %}
    }

    # Media files
    location /media {
{% if 'taiga-back' in group_names %}
        alias /home/taiga/taiga-back/media;
{% else %}
        proxy_set_header Host $http_host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Scheme $scheme;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_pass http://{{ taiga_front_backend_hostname }}:{{ taiga_backend_port }}$request_uri;
        proxy_redirect off;
{% endif %}
    }

{% if taiga_enable_events %}
	# Taiga-events
	location /events {
{% if 'taiga-events' in group_names %}
	proxy_pass http://127.0.0.1:{{ taiga_events_port }}/events;
{% else %}
	proxy_pass http://{{ taiga_front_events_hostname }}:{{ taiga_events_port }}/events;
{% endif %}
	proxy_http_version 1.1;
	proxy_set_header Upgrade $http_upgrade;
	proxy_set_header Connection "upgrade";
	proxy_connect_timeout 7d;
	proxy_send_timeout 7d;
	proxy_read_timeout 7d;
	}
{% endif %}
}