{% set _listen_address = '127.0.0.1' if _taiga_is_front_node else '0.0.0.0' %}
{
    "url": "amqp://{{ taiga_rabbitmq_user }}:{{ taiga_rabbitmq_password }}@{{ taiga_rabbitmq_host }}:{{ taiga_rabbitmq_port }}/{{ taiga_rabbitmq_vhost }}",
    "secret": "{{ taiga_secret_key }}",
    "webSocketServer": {
        "host": "{{ _listen_address }}",
        "port": {{ taiga_events_port }}
    }
}
