[Unit]
Description=Taiga Celery asynchronous task processing service
After=network.target

[Service]
Type=simple
Restart=on-failure
WorkingDirectory={{ taiga_user_home }}/{{ taiga_back_checkout_dir }}
ExecStart={{ taiga_user_home }}/{{ taiga_back_venv_dir }}/bin/celery -A taiga worker --concurrency {{ ansible_processor_vcpus }}
ExecStop=/bin/kill -TERM $MAINPID
ExecReload=/bin/kill -HUP $MAINPID
Environment="PATH={{ taiga_back_venv_dir }}/bin:$PATH"
Environment="TERM=rxvt-256color"
Environment="SHELL=/bin/bash"
Environment="USER={{ taiga_user }}"
Environment="LANG=en_US.UTF-8"
Environment="HOME={{ taiga_user_home }}"
Environment="PYTHONUNBUFFERED=true"
User={{ taiga_user }}

[Install]
WantedBy=default.target
