[Unit]
Description=Taiga Celery asynchronous task processing service

[Service]
Type=simple
Restart=on-failure
WorkingDirectory={{ taiga_user_home }}/{{ taiga_back_checkout_dir }}
ExecStart={{ taiga_user_home }}/{{ taiga_back_venv_dir }}/bin/celery -A taiga worker -c 4
ExecStop=/bin/kill -TERM $MAINPID
ExecReload=/bin/kill -HUP $MAINPID
Environment="PATH={{ taiga_back_venv_dir }}/bin:$PATH"
Environment="TERM=rxvt-256color"
Environment="SHELL=/bin/bash"
Environment="USER={{ taiga_user }}"
Environment="LANG=en_US.UTF-8"
Environment="HOME={{ taiga_user_home }}"
Environment="PYTHONPATH={{ taiga_user_home }}/{{ taiga_back_venv_dir }}/lib/python3.5/site-packages"
User={{ taiga_user }}

[Install]
WantedBy=default.target
