[watcher:taiga-celery]
working_dir = {{ taiga_user_home }}/{{ taiga_back_checkout_dir }}
cmd = celery
args = -A taiga worker -c 4
uid = {{ taiga_user }}
+numprocesses = 1
autostart = true
send_hup = true
stdout_stream.class = FileStream
stdout_stream.filename = {{ taiga_user_home }}/{{ taiga_back_log_dir }}/celery.stdout.log
stdout_stream.max_bytes = 10485760
stdout_stream.backup_count = 4
stderr_stream.class = FileStream
stderr_stream.filename = {{ taiga_user_home }}/{{ taiga_back_log_dir }}/celery.stderr.log
stderr_stream.max_bytes = 10485760
stderr_stream.backup_count = 4

[env:taiga-celery]
PATH = {{ taiga_user_home }}/{{ taiga_back_venv_dir }}/bin:$PATH
TERM=rxvt-256color
SHELL=/bin/bash
USER={{ taiga_user }}
LANG=en_US.UTF-8
HOME=/home/taiga
PYTHONPATH={{ _circus_pythonpath }}
