---
taiga_webserver: nginx
taiga_webserver_debug: "{{ taiga_debug }}"
taiga_webserver_ssl_dhparam_bits: 4096
taiga_webserver_ssl_protocols:
  - TLSv1
  - TLSv1.1
  - TLSv1.2
taiga_webserver_ssl_ciphers:
  - ECDHE-RSA-AES128-GCM-SHA256
  - ECDHE-ECDSA-AES128-GCM-SHA256
  - ECDHE-RSA-AES256-GCM-SHA384
  - ECDHE-ECDSA-AES256-GCM-SHA384
  - DHE-RSA-AES128-GCM-SHA256
  - DHE-DSS-AES128-GCM-SHA256
  - kEDH+AESGCM
  - ECDHE-RSA-AES128-SHA256
  - ECDHE-ECDSA-AES128-SHA256
  - ECDHE-RSA-AES128-SHA
  - ECDHE-ECDSA-AES128-SHA
  - ECDHE-RSA-AES256-SHA384
  - ECDHE-ECDSA-AES256-SHA384
  - ECDHE-RSA-AES256-SHA
  - ECDHE-ECDSA-AES256-SHA
  - DHE-RSA-AES128-SHA256
  - DHE-RSA-AES128-SHA
  - DHE-DSS-AES128-SHA256
  - DHE-RSA-AES256-SHA256
  - DHE-DSS-AES256-SHA
  - DHE-RSA-AES256-SHA
  - '!aNULL'
  - '!eNULL'
  - '!EXPORT'
  - '!DES'
  - '!RC4'
  - '!3DES'
  - '!MD5'
  - '!PSK'
taiga_webserver_enable_hsts: true
taiga_webserver_hsts_max_age: 63072000
