---
- name: install apt-transport-https
  become: true
  become_user: root
  apt:
    name: apt-transport-https
  tags:
    - install
    - front-install
    - events-install

- name: add NodeSource repository key
  become: true
  become_user: root
  apt_key:
    url: https://deb.nodesource.com/gpgkey/nodesource.gpg.key
  tags:
    - install
    - front-install
    - events-install

- name: add NodeSource repository
  become: true
  become_user: root
  apt_repository:
    repo: "deb https://deb.nodesource.com/node_8.x {{ ansible_distribution_release }} main"
  register: nodesource_repo
  tags:
    - install
    - front-install
    - events-install

- name: update apt cache if NodeSource repository was added or updated
  become: true
  become_user: root
  apt:
    update_cache: true
  when: nodesource_repo.changed
  tags:
    - install
    - front-install
    - events-install
    - skip_ansible_lint

- name: install nodejs
  become: true
  become_user: root
  apt:
    name: nodejs
    state: "{{ taiga_upgrade | bool | ternary('latest', 'present') }}"
  tags:
    - install
    - front-install
    - events-install
